{% load static %}
{% load group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Tutor Hub | My Ad </title>
</head>
<body>
        
  <nav>
    <input id="nav-toggle" type="checkbox">
    <div class="app_name">Tutor Hub</div>
    <ul>
        <li><a href="{% url 'home' %}">Back to Home</a></li>
        <li><a href="{% url 'signout' %}">Sign Out</a></li>
        
    </ul>
    <label for="nav-toggle" class="three_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
      
<div class="container home">
    <div class="card-header bg-info" >
        <h1 class="text-center">All posts by {{ user }}</h1>
      </div>
        

        {% if request.user|has_group:"student" %} 
        
          {% for ad in myStudentAds %}
          <div class="advertise">
            <div class="card text-left">
              <div class="card-header bg-success" >
                <h1 class="text-center">{{ ad.title }}</h1>
              </div>
              <div class="card-body text-center">
                <h3 class="card-title">Title: {{ ad.subject }}</h3>
                <p class="card-text">Days: {{ ad.days }} || Salary: {{ ad.salary }}</p>
                <p class="card-text">Gender: {{ ad.gender }} || Area: {{ ad.area }}</p>
              </div>
              <div class="card-footer text-muted text-center mt-1">
                Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }} By {{ad.user}}
              </div>
            </div>
          </div>
          {% endfor %}

        {% else %}

          {% for ad in myTutorAds %}
            <div class="advertise">
              <div class="card text-left">
                <div class="card-header bg-success" >
                  <h1 class="text-center">{{ ad.title }}</h1>
                </div>
                <div class="card-body text-center">
                  <h3 class="card-title">{{ ad.subject }}</h3>
                  <p class="card-text">Days: {{ ad.days }} || Expected Salary: {{ ad.expected_salary }}</p>
                  <p class="card-text">Gender: {{ ad.gender }} || Expected Area: {{ ad.expected_area }}</p>
                </div>
                <div class="card-footer text-muted text-center mt-1">
                  Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }} By {{ad.user}}
                </div>
              </div>
            </div>
            {% endfor %}
        {% endif %}
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
