{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Classroom | Student Lecture List</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <link rel="stylesheet" href="{% static 'courses/studentLectureList.css'%}">
    
</head>
<body>
    <div class="main-container">
        <nav class="navbar nav navbar-expand-lg">
            <div class="app_name">Online Class</div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join_class' %}">Join Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
                </li>
                
              </ul>
            </div>
          </nav>

        <div class="body-content">
            <div class="container">
                {% for lecture in lectures %}
                <a href="{% url 'student_lecture_details' class_slug=class.slug  slug=lecture.slug%}">
                    <div class="left-div left-text">     
                        Lecture - {{lecture.position}}: {{lecture.name}}                        
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'courses/js/classroom.js'%}"></script>
</body>
</html>




