{% load static %}
{% load group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Tutor Hub | Home </title>
</head>
<body>
<nav class="navbar nav navbar-expand-lg">
  <div class="app_name">Tutor Hub</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        {% if request.user|has_group:"student" %}
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'profile' %}">
            <img src={{request.user.student.profile_pic.url}} class="rounded-circle" width="20">
            {{ user.username }}'s Profile
          </a>
        {% else %}
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'profile' %}">
            <img src={{request.user.tutor.profile_pic.url}} class="rounded-circle" width="20">
            {{ user.username }}'s Profile
          </a>
        {% endif %}
      </li>
      {% if request.user|has_group:"student" %} 
        <li class="nav-item">
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'find_tutor' %}">Create Ad</a>
        </li>
        <li class="nav-item">
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'find_student' %}">Create Ad</a>
        </li>
        <li class="nav-item">
          <a style="margin-left: 30px;" class="nav-link" href="{% url 'tutor_dashboard' %}">Dashboard</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a style="margin-left: 30px;" class="nav-link" href="{% url 'map_box' %}">Map Box</a>
      </li> 
      <li class="nav-item">
        <a style="margin-left: 30px;" class="nav-link" href="{% url 'signout' %}">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
    {% if search %}
    <h1 class="text-light">Searched results:</h1>
    {% endif %}
<div class="container justify-content-center">
  <div class="row">
    <div class="col-md-9">
      {% if request.user|has_group:"tutor" %}
        {% for ad in student_ads %}
          <div class="course">
            <div class="course-preview">
                <a style="color: #fff;" href="{% url 'profile_user' ad.user.id %}">
                  <img src={{ad.user.student.profile_pic.url}} class="rounded-circle" width="50">
                  {{ad.user}}
                </a>
                <h2>{{ ad.subject }}</h2>
              </div>
              <div class="course-info">
                  <h2>{{ ad.title }}</h2>
                  <h5>{{ ad.days }} Days Per Week</h5>
                  <h5>Salary: {{ ad.salary }} Taka</h5>
                  <span class="info-text">
                    Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }} 
                  </span>
                  <a class="view_more" href="{% url 'view_more' ad.id %}" >View More</a>
                  <a href="tel:{{ad.user.student.phone}}" class="view_more" style="right: 150px;">Contact</a>
                </div>
            </div>
          {% endfor %}
          <div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if student_ads.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{student_ads.previous_page_number}}">&laquo;</a></li>
              {% endif %}
              {% for page in student_ads.paginator.page_range %}
                {% if student_ads.number == page %}
                  <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
              {%endfor%}
              {% if student_ads.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{student_ads.next_page_number}}">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
          {% else %}
        {% for ad in tutor_ads %}
          <div class="course">
            <div class="course-preview">
              <a style="color: #fff;" href="{% url 'profile_user' ad.user.id %}">
                <img src={{ad.user.tutor.profile_pic.url}} class="rounded-circle" width="50">
                {{ad.user}}
              </a>
                <h2>{{ ad.subject }}</h2>
              </div>
              <div class="course-info">
                  <h2>{{ ad.title }}</h2>
                  <h5>{{ ad.days }} Days Per Week</h5>
                  <h5>Salary Expecting: {{ ad.expected_salary }} Taka</h5>
                  <span class="info-text">
                    Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }} 
                  </span>
                  <a class="view_more" href="{% url 'view_more' ad.id %}" >View More</a>
                  <a href="tel:{{ad.user.tutor.phone}}" class="view_more" style="right: 150px;">Contact</a>
                </div>
            </div>
            {% endfor %}

                <div aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    {% if tutor_ads.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{tutor_ads.previous_page_number}}">&laquo;</a></li>
                    {% endif %}
                    
                    {% for page in tutor_ads.paginator.page_range %}
                      {% if tutor_ads.number == page %}
                      <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                      {% endif %}
                    {%endfor%}
  
                    {% if tutor_ads.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{tutor_ads.next_page_number}}">&raquo;</a></li>
                    {% endif %}
                    
                  </ul>
      
                </div>
            {% endif %}
    </div>
      
          
    {% if not search %} 
    <div class="col-md-3">
      <h3 class="text-center bg-info text-warning">Filter Search</h3>
      <form action="{% url 'home' %}">
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="list-group list-group-flush">
            <input
              type="text"
              name="area"
              class="form-control"
              placeholder="Enter area"
            />
            <input
              type="text"
              name="salary"
              class="form-control"
              placeholder="Enter minimum salary"
            />
            <input
              type="text"
              name="subject"
              class="form-control"
              placeholder="Enter subject"
            />
            <label for="form-select" class="text-light">Select Gender</label>
            <select
              class="form-select"
              aria-label="Select Gender"
              name="gender"
              id="gender"
            >
              <option value="male" selected>Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <button
              type="submit"
              class="btn btn-success justify-content-center"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  
</body>
