{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ad.css' %}">
    <title>Post Ad</title>
</head>
<body>
  <nav class="navbar nav navbar-expand-lg">
    <div class="app_name" href="#">Tutor Hub</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'myAd' %}">My Ad</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"> Back to Home</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="row justify-content-center mt-5">
      <div class="container post_ad">
        <h2 class="bg-info mb-3 text-center"> Fill this form to Find a Tutor</h2>
      </div>
  </div>
  <div class="row justify-content-center mt-5">
      <div class="col-md-5">
          {% if error %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
          {% endif %}
          <form method="POST"> 
            {% csrf_token %}
          <label for="id_user">User:</label> 
            <select class="form-control" name="user" required id="id_user">
              <option value="{{user.id}}" selected>{{user.username}}</option>
            </select>
            <div class="form-group">
              <label for="id_title">Title:</label> 
              <input type="text" class="form-control" name="title" maxlength="150"  placeholder="Write an Eye Catchy Title"  id="id_title">
            </div>
            <div class="form-group">
              <label for="id_area">Area:</label> 
              <input type="text" class="form-control" name="area" placeholder="Banani" maxlength="150" id="id_area">
            </div>
            <div class="form-group">
              <label for="id_subject">Subject:</label> 
              <input type="text" class="form-control" name="subject" placeholder="Physics / Accounting" maxlength="150" id="id_subject">
            </div>
            <div class="form-group">
              <label for="id_class_level">Class level:</label> 
              <input type="text" class="form-control" placeholder="Class 6 / O-Level" name="class_level" maxlength="150" id="id_class_level">
            </div>
            <div class="form-group">
              <label for="id_days">Days:</label> 
              <input type="number" min="0" class="form-control" name="days" placeholder="4" step="1" required id="id_days">
              <small class="text-muted ml-3"> Per Week </small>
            </div>
            <div class="form-group">
              <label for="id_salary">Salary:</label> 
              <input type="number" min="1000" class="form-control" name="salary" placeholder="5000 (min 1000)"  step="1e-1000" required id="id_salary">
              <small class="text-muted ml-3"> Taka </small>
            </div>
            <div class="form-group">
              <label for="id_gender">Gender:</label>
               <select name="gender" class="form-control" aria-label="Default select example" id="id_gender">
                  <option value="" selected>Select Gender</option>
                  <option value="male">male</option>
                  <option value="female">female</option>
                </select>
              </div>
            <div class="form-group">
              <label for="id_description">Description:</label> 
              <textarea name="description" class="form-control" cols="40" placeholder="Write briefly about this ad or any special requirements" rows="10" id="id_description">
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary align-self">Post Ad</button>

          </form>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  
    
</body>
</html>


