*{
  margin: 0;
  padding: 0;
}


body{
padding: 0;
margin: 0;
}
nav{
position: fixed;
z-index: 99999;
left: 0;
right: 0;
top: 0;
padding: 0 10%;
height: 80px;
background-color: #284DF2;
  display: flex;
}
.app_name{
float: left;
width: 65%;
font-size: 45px;
  font-family: 'Dancing Script', cursive;
color: #fff;
  line-height: 80px;
}
nav ul{
display: flex;
width: 35%;
margin-top: 20px;
}
nav ul li{
list-style: none;
}
nav ul li a{
display: inline-block;
font-size: 16px;
  line-height: 20px;
font-weight: bold;
border-radius: 10px;
padding: 10px 15px;
color: #fff;
  margin-left: 50px;
text-decoration: none;
  font-family: serif;
  

}
nav ul li a:hover{
  color: brown;
  transition: all linear 0.4s;
background-color: #fff;
}
#nav-toggle{
  display: none;
}
nav .three_lines{
display: none;
position: absolute;
right: 10%;
top: 50%;
transform: translateY(-50%);
}
nav .three_lines .line{
width: 30px;
height: 5px;
background-color: #fff;
margin: 5px;
border-radius: 3px;
transition: all linear .4s;
}
@media screen and (max-width: 768px) {
  
.app_name{
  margin-left: 100px;
}

nav ul{
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 100%;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content:space-evenly;
  background-color: rgba(0,0,0,.8);
  overflow: hidden;
  box-sizing: border-box;
  transition: all linear .4s;
}
nav ul li a{
  font-size: 14px;
  

}
  nav .three_lines{
  display: block;
}

nav :checked ~ ul{
  bottom: 0;
}

nav :checked ~ .three_lines .line{
    background-color: #000;
}

}
.signup_form{
  margin-top: 100px;
}

.col-centered {
    float: none;
    margin: 0 auto;
  }
  .colour {
    color: #e6e0e0;
  }
  .colourtwo {
    color: #0a0a0a;
  }
  .row {
    color: #000;
  }
  .sign-up-button .login_btn{
    padding: 30px;
  }
  .body {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
  }
 