.col-centered {
    float: none;
    margin: 0 auto;
  }
  .row {
    color: #000;
  }
  .body {
    height: 700px;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
  }