{% load static %}
<head>
  <title>Edit Profile</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
  <!-- <link rel="stylesheet" type="text/css" href="SignUp.css"> -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
    rel="stylesheet"
  />
</head>
<nav>
  <input id="nav-toggle" type="checkbox" />
  <div class="app_name">Tutor Hub</div>
  <ul>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
  <label for="nav-toggle" class="three_lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>

<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-12 py-5">
      <h1>Edit Profile</h1>
    </div>
    <div class="col-md-6 mx-auto p-3 bg-light my-2">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% if status %}
                <div class="alert alert-primary">{{status}}</div>
                {% endif %} -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="fname">First Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter First Name"
                name="fname"
                value="{{user.first_name}}"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="lname">Last Name</label>
              <input
                type="text"
                class="form-control"
                name="lname"
                placeholder="Enter Last Name"
                value="{{user.last_name}}"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter Email"
                value="{{user.email}}"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="form-group">
              <input
                type="submit"
                name="changeprofile"
                value="Save Changes"
                class="btn btn-primary"
                style="width: 50%; border-radius: 20px"
              />
            </div>
          </div>
        </div>
      </form>
      <br />
      <br />
      <a href="{% url 'delete_profile' %}" style="color: red"
        >Delete this account</a
      >
    </div>
  </div>
</div>
