{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous"
/>
<title>View More Details of Ad</title>
{% endblock %} {% block body %} {% block navlinks %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="#">Log Out</a></li>
{% endblock %}
<div class="view-more py-4" style="margin-top: 100px">
  <div class="container">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0">
              <i class="fas fa-clone pr-1">Details:</i>
            </h3>
            <div class="row text-center"><h2>{{ ad.title }}</h2></div>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <!-- <tr>
                <th width="30%">Title</th>
                <td width="2%">:</td>
                <td>{{ ad.title }}</td>
              </tr>
              <tr> -->
                <th width="30%">Area</th>
                <td width="2%">:</td>
                <td>{{ ad.area }}</td>
              </tr>
              <tr>
                <th width="30%">Subject</th>
                <td width="2%">:</td>
                <td>{{ ad.subject }}</td>
              </tr>
              <tr>
                <th width="30%">Days</th>
                <td width="2%">:</td>
                <td>{{ ad.days }}</td>
              </tr>
              <tr>
                <th width="30%">Class/Level</th>
                <td width="2%">:</td>
                <td>{{ ad.class_level }}</td>
              </tr>
              <tr>
                <th width="30%">Salary</th>
                <td width="2%">:</td>
                <td>{{ ad.salary }}</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>{{ ad.gender }}</td>
              </tr>
              <tr>
                <th width="30%">Date Posted</th>
                <td width="2%">:</td>
                <td>{{ ad.ad_created }}</td>
              </tr>
              <tr>
                <th width="30%">Description</th>
                <td width="2%">:</td>
                <td>{{ ad.description }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
